body{
    background-color: black;
}
.homeImage{
    height: 25rem;
    display: block;
    margin: 0 auto;
}
.footerIcon{
    height: 2rem;
}
.detailsPhoto{
    width: 100%;
}
.cardImage{
    width: 100%;
}