/* 
    General Styles
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.size{
    width: 15rem;
}
body{
    color:rgb(218, 196, 0);
    font-family: 'Oswald', sans-serif;
    font-size: 1.15rem;
}
